#!/usr/bin/make -f

# Build a .deb without debhelper
# Usage: fakeroot make -f debian/rules binary

KERNEL_VER := $(shell uname -r)
PKG_DIR   := $(CURDIR)/debian/kblocker
DEB_DIR   := $(PKG_DIR)/DEBIAN

all: build

build:
	@echo "Building kernel module..."
	$(MAKE) -C /lib/modules/$(KERNEL_VER)/build M=$(CURDIR) modules

install: build
	install -d $(PKG_DIR)/lib/modules/$(KERNEL_VER)/extra
	install -m 644 kblocker.ko $(PKG_DIR)/lib/modules/$(KERNEL_VER)/extra/
	install -d $(PKG_DIR)/usr/local/bin
	install -m 755 kblockerctl $(PKG_DIR)/usr/local/bin/kblockerctl
	install -d $(PKG_DIR)/etc/kblocker/keys
	install -d $(PKG_DIR)/var/lib/kblocker
	install -d $(DEB_DIR)
	install -m 644 debian/control $(DEB_DIR)/control
	install -m 644 debian/changelog $(DEB_DIR)/changelog
	gzip -9nf $(DEB_DIR)/changelog
	install -m 644 debian/copyright $(DEB_DIR)/copyright
	install -m 755 debian/postinst $(DEB_DIR)/postinst
	install -m 755 debian/prerm $(DEB_DIR)/prerm
	install -m 755 debian/postrm $(DEB_DIR)/postrm

binary: install
	dpkg-deb --root-owner-group --build $(PKG_DIR) $(CURDIR)/kblocker_$(KERNEL_VER).deb
	@echo ""
	@echo "Package: kblocker_$(KERNEL_VER).deb"
	@echo "Install: sudo dpkg -i kblocker_$(KERNEL_VER).deb"

clean:
	$(MAKE) -C /lib/modules/$(KERNEL_VER)/build M=$(CURDIR) clean
	rm -f src/*.o src/*.ko src/*.mod.c Module.symvers modules.order
	rm -rf $(PKG_DIR)
	rm -f kblocker_*.deb